<div class="container profile-bg">
  <div class="attn-container">
    <div>
      <header class="header">
        <%= link_to image_tag("arrow_left.png"), user_path(current_user.id)%>
        
        <div>
          <h1>GROUPS</h1>
        </div>

        <%= render partial: 'sessions/logout_link'%>      
      </header>
    </div>    

    <section class="attn-render">
      <div class="attn-list-section">
        <% @groups.each do |g| %>
          <article class="art-group border-art">
            <span class="group-avatar art-image">
              <%= group_avatar(g) %>
            </span>

            <div class="attn-description">
              <div>
                Name: <%= link_to "#{g.name}", group_path(@group, id: g.id) %>
              </div>
              <div>
                Created At:
                <%= g.created_at.strftime("%Y/%m/%d") %>
              </div>
            </div>  
          </article>
        <% end %>
      </div>      
      
      <%= link_to 'CREATE A GROUP', new_group_path, class: 'add-new-button' %>
    </section>     
  </div>
</div>
