<div class="container">
  <div class="attn-container">
    <div>
      <header class="header header-bg">
        <%= link_to image_tag("arrow_left.png"), groups_path %>

        <div>
          <h1 class="m-0 title">GROUP</h1>
        </div>
        
        <%= render partial: 'sessions/logout_link'%>
        </div>
      </header>
      
      <section class="show-group">
        <h2>
          <%= @group.name %>
        </h2>
        <h3>ATTENDANCES:</h3>
        
        <% Attendance.group_has_attn(@group).each do |a| %>
          <article class="border-art">
            <div>
              Name:
              <%= a.name %>
              <div>
                Author Name:
                <%= group_user_name(a.author_id)%>
              </div>
              <div>
                Created at:
                <%= a.created_at.strftime("%Y/%m/%d") %>
              </div>
            </div>
          </article> 
        <% end %>
      </section>
    </div>
  </div>
</div>

 