<div class="container profile-bg">
  <div class="attn-container">
    <div>
      <header class="header">
        <%= link_to image_tag("arrow_left.png"), user_path(current_user.id)%>
        
        <div>
          <h1 class="m-0 title">USERS</h1>
        </div>
        
        <%= render partial: 'sessions/logout_link'%>      
      </header>
    </div>

    <section class="attn-render">
      <div class="attn-list-section">
        <% Attendance.friends_name(current_user, @users).each do |user| %>
          <article class="art-group border-art">
            <div>
              <span class="group-avatar">
                <%= user_avatar(user.author_id) %>
              </span>
            </div>

            <div class="attn-description">
              <div>
                <strong>Name:</strong>
                <%= user.name %>
              </div>
              
              <strong>Groups in common:</strong>
              <ol>                
                <% Group.attn_groups_by_user(Attendance.current_user_groups_id(user.author_id)).each do |g| %>
                  <li>
                    <%= g.name %>
                  </li>
                <% end %>
              </ol>
            </div>
          </article>
        <% end %>
      </div>
    </section>     
  </div>
</div>