<div class="container-fluid p-0">
  <div class="container m-auto header-text title profile-bg overflow-auto">
    <header class="text-center mb-3">
      <div class="row justify-content-center header-text align-items-center">
        <div class="col-2 p-0">
          <%= link_to image_tag("arrow_left.png"), user_path(current_user.id)%>
        </div>
        <div class="col-7">
          <h1 class="m-0 title">USERS</h1>
        </div>
        <div class="col-3">
          <%= render partial: 'sessions/logout_link'%>
        </div>
      </div>
    </header>
    <section>
      <% Attendance.friends_name(current_user, @users).each do |user| %>
        <article class="row p-2 m-0 border-art">
          <div class="col-5 p-0">
            <%= user_avatar(user.author_id) %>
          </div>
          <div class="col-7 d-flex flex-column justify-content-between">
            <p class="m-0">
              Name: <%= user.name %>
            </p>
            <div>
              Groups in common:
              <ul>
                <% Group.attn_groups_by_user(Attendance.current_user_groups_id(user.author_id)).each do |g| %>
                  <li ><%= g.name %></li>
                <% end %>
              </ul>
            </div>
          </div>  
        </article>
      <% end %>
    </section>     
  </div>
</div>