<div class="container profile profile-bg">    
  <header>
    <div>
      <div>
        <%= render partial: 'sessions/logout_link' %>
      </div>        
    </div>
    <%= user_avatar(@user) %>
    <h1><%= @user.name%></h1>
  </header>

  <section class="">
    <ul class="">
      <li id="all_attn">
        <div class="menu-border">
          <%= link_to 'All my Attendances', attendances_path, class: '' %><br> 
        </div> 
      </li>         
      <li id="all_ext_attn">
        <div class="menu-border">
          <%= link_to 'All my External Attendances', external_attendances_path, class: '' %><br>
        </div>
      </li>
      <li id="all_groups">
        <div class="menu-border">
          <%= link_to 'All Groups', groups_path, class: '' %>
        </div>  
      </li>
      <li id="all_users">
        <%= link_to 'Bar Hopping Users', users_path, class: '' %>
      </li>  
    </ul>      
  </section> 
</div>
