<% @attendances.each do |item| %>
  <section class="row px-2 pt-3 mx-3 d-flex justify-content-between">
    <div>
      Total:
    </div>
    <div>      
      <%= total_attn(@total, item) %>
    </div>
  </section>

  <article class="row mx-2 py-3 m-0 border-art">
    <div class="col-3">
      <% if item.group %>
        <%= attn_group(item.group_id) %><br>
      <% end %>
    </div>
    <div class="col-7 pl-2 pr-2 d-flex flex-column justify-content-between">  
      Name:
      <%= item.name %><br>
      <div>
        Created at:
        <%= item.created_at.strftime("%Y/%m/%d") %>
      </div>
    </div>
    <div class="col-2 pl-1 text-right"> 
      Qty:
      <%= item.amount %>
    </div>  
  </article>
<% end %>

<div class="row">
  <%= link_to 'ADD NEW ATTENDANCE', new_attendance_path, class: 'd-block col add_new_button p-3 fixed-bottom header-text text-center' %>
</div> 