<div class="attn-list-section">
  <section>
    <div>
      Total:
    </div>
    <div>
      <%= total_attn(@attendances) %> 
    </div>
  </section>

  <% @attendances.each do |item| %>
    <article class="art-attn border-art">
      <div class="group-avatar">
        <%= attn_group(item.group_id) %>
      </div>

      <div class="attn-description">  
        <div>
          Name:
          <%= item.name %>
        </div>
        
        <div>
          Created at:
          <%= item.created_at.strftime("%Y/%m/%d") %>
        </div>
      </div>

      <div> 
        Qty:
        <%= item.amount %>
      </div>  
    </article>
  <% end %>
</div>

<%= link_to 'ADD NEW ATTENDANCE', new_attendance_path, class: 'add-new-button' %>