<div class="container-fluid p-0">
  <header class="title bg-header">
    <div class="container text-center m-auto">
      <div class="row justify-content-center header-text align-items-center">
        <div class="col-1 p-0">
          <%= link_to image_tag("arrow_left.png"), attendances_path %>
        </div>
        <div class="col-9">
          <h1 class="m-0 title">NEW ATTENDANCE</h1>
        </div>
        <input type="submit" value="Save" form="new_attn_form" class="col-2 title text-nowrap">
      </div>
    </div>
  </header>

  <section class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12 p-0">
        <%= form_for(@attendance, html: {id: 'new_attn_form'}) do |form| %>
          <%= form.text_field :name, placeholder: 'Attendance\'s Name', class: 'shadow-sm' %><br><br>

          <div class="px-3">
            <%= form.label :select_quantity %><br>
            <%= form.select :amount, (1..10) %><br><br>
          </div>

          <% groups = Group.all %>
          <div class="px-3">
            <%= form.label :select_group %><br>
            <%= form.select :group_id, groups.map{|g| [g.name, g.id] }, include_blank: 'No Group' %><br>
          </div>          
        <% end %>
      </div>
    </div>
  </section> 
</div>
