<div class="container">
  <div>
    <header class="header header-bg">
      <%= link_to image_tag("arrow_left.png"), attendances_path %>

      <div class="">
        <h1 class="">NEW ATTENDANCE</h1>
      </div>

      <input type="submit" value="Save" form="new_attn_form">      
  </header>

  <section class="login-form attn-form">
    <%= form_for(@attendance, html: {id: 'new_attn_form'}) do |form| %>
      <%= form.text_field :name, placeholder: 'Attendance\'s Name' %><br><br>

      <div>
        <%= form.label :select_quantity %><br>
        <%= form.select :amount, (1..10) %><br><br>
      </div>

      <% groups = Group.all %>
      <div>
        <%= form.label :select_group %><br>
        <%= form.select :group_id, groups.map{|g| [g.name, g.id] }, include_blank: 'No Group' %><br>
      </div>
    <% end %>
  </section> 
</div>
